h1{
    font-size:2em;
}


#reveal:hover, #reveal:focus{
    background-color:#DB2E32;
    color: #A3E0E5;
    border:none;
}


#reset:hover{
    color:#DB2E32;
    background-color: #A3E0E5;
    border:none;
}