body{
    background-color: #E8EBEA;
}


main{
    margin-bottom:30px;

}
h1{
    display:flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    font-size:1.8em;
        -webkit-animation: blink-1 1s infinite both;
                animation: blink-1 1s infinite both;
    
}

button{
    height:160px;
    width:110px;
    margin:5px;
    border:none;
    border-style:none;
    text-align:center;
    background-color: whitesmoke;
    outline:none;
    cursor:pointer;
    font-family: "abril fatface";
    font-size:2em;
    padding:0px auto;
  
}
#cardDeck{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap:wrap;
    

}
    

#selection {
    display: flex;
    margin-top:50px;
    justify-content: center;
    flex-wrap: wrap;
    color:transparent;
    
}


#reset, #reveal{
    font-size:1.5em;
    text-align:center;
}
#reveal:focus{
    background-color:#DB2E32;
    color: #A3E0E5;
    border:none;
}

#selection .card{
    background: url(../images/watermelon.png);
    background-position: center;
    background-size:cover;
    border:none;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color:transparent;
   
}
